.jumbotron {
  padding-top: 7rem;
  background-color: #4ee2b6;
}
h1 {
  font-family: AlgerianRegular;
}
#galery {
  background-color: #4ee2b6;
}

section {
  padding-top: 5rem;
}
button {
  width: 8rem;
}
